* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


#landing {
	background-image: url('./images/bg.jpg');
	background-size: 1920px 870px;
	background-position: center center;
}

#myName {
	font-family: 'Dosis', sans-serif;
	font-size: 3rem;
}

#header {
	font-family: 'Dosis', sans-serif;
}

#description {
	font-family: 'Dosis', sans-serif;
	font-size: 1.2em;
	background-color: rgba(240, 240, 240, 0.6);
	background-position: center	center;
}

#footer {
	font-family: 'Mukta', sans-serif;
}

#data {
	style="position: relative !important; 
	height: 0px !important; 
	width: 0px !important; 
	float: left !important;
}

#projects {
	background-color: rgba(255, 154, 66, 0.2);
}
